body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: hsl(240deg 30% 96%);
  min-height: 100vh;
  width: 100%;
}

main {
  background-color: hsl(240deg 7% 97%);;
  height: 70vh;
  width: 90%;
  box-shadow: 0.2rem 0.5rem 0.5rem 0.6rem hsl(240deg 8% 87%);
  display: block;
  margin: 3rem auto;
}
